.layout {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 20px;
}